<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mining.app.persistence.AcctinfoMapper">

  <cache />
  
  <select id="getAcctinfoByAcctNo" parameterType="Acctinfo" resultType="Acctinfo">
    SELECT
        id,       
		acct_no AS acctNo,  
		operators AS operators,
		total_amount AS totalAmount,
    FROM acctinfo
    WHERE acctNo = #{acctNo}
  </select>
  
  <select id="getAcctinfoById" parameterType="Acctinfo" resultType="Acctinfo">
    SELECT
        id,       
		acct_no AS acctNo,  
		operators AS operators,
		total_amount AS totalAmount,
    FROM acctinfo
    WHERE id = #{id}
  </select>
  
  <update id="updateAcctinfo" parameterType="Acctinfo">
    UPDATE acctinfo SET
     acct_no = #{acctNo}, 
     operators = #{operators},
     total_amount = #{totalAmount},
    WHERE id = #{id}
  </update>

  <insert id="insertAcctinfo" parameterType="Acctinfo">
    <selectKey keyProperty="id" resultType="int" order="AFTER">
      select last_insert_id();
    </selectKey>
    INSERT INTO Acctinfo (acct_no,operators,total_amount)
    VALUES (#{acctNo}, #{operators}, #{totalAmount})
  </insert>

</mapper>